.gameSpace {
    display: flex;
    align-items: center;
    justify-content: center;

}

.name-form {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.ramen-card {
    width: 90%;
}

.status-card {
    width: 90%;
}

.score-container {
    display: flex;
    /* flex-direction: column; */
    /* height: 200 px; */
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    /* overflow: scroll; */
}