.gameSpace {
    display: flex;
    align-items: center;
    justify-content: center;

}

.name-form {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}

.ramen-card {
    width: 90%;
}

.status-card {
    width: 90%;
}